<%- include("partials/header"); -%>

<h1> <%= bodyTitle %> </h1>
<form action="/compose" method="post">

  <div class="form-group">
    <label for="titleForPost">Title</label>
    <input type="text" class="form-control" id="titleForPost" name="postTitle">
    <label for="bodyForPost">Post</label>
    <textarea class="form-control" id="bodyForPost" rows="5" cols="30" name="postBody"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" name="button">Publish</button>

</form>

<%- include("partials/footer"); -%>
